<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="memberEntity" class="com.haziy.entity.MemberEntity"  init-method="init" destroy-method="destory">
    <property name="name" value="haziy"/>
  </bean>
  <bean id="beanPost" class="com.haziy.entity.BeanPost"></bean>
</beans>